<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Product" type="com.presidio.beans.Product"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://ec2-18-222-170-220.us-east-2.compute.amazonaws.com:3306/"/>
                <property name="username" value="admin"/>
                <property name="password" value="1L0v3Ic3Cr3am#!"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="product.xml"/>
    </mappers>
</configuration>